.button {
  padding: 13px 28px;

  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  border: 1px $white solid;
  border-radius: 5px;

  font-family: $roboto-condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  &:hover {
    opacity: 1;
    color: $white;
    border-color: $blue;
    background-color: $blue;
  }

  &--consult {
    padding: 18.5px 0;

    letter-spacing: 0.8px;

    color: $white;
    border-color: $blue;
    background-color: $blue;

    font-size: 16px;

    @media (max-width: $tablet-width) {
      padding: 18.5px 30px;
    }

    @media (max-width: $mobile-width) {
      margin: 0 auto;

      letter-spacing: 0.9px;
    }

    &:hover {
      color: $blue;
      border-color: $white;
      background-color: $white;
    }
  }

  &--about-company {
    color: $blue;
    border-color: $blue;
  }
}
