.contacts__header {
  position: relative;
}

.contacts__list {
  margin: 29px 0 0;
  padding-left: 0;

  list-style: none;
}

.contacts__item {
  color: rgba(27, 45, 55, 0.5);

  font-size: 15px;
  line-height: 25px;
}

.contacts__link {
  color: inherit;
}
