.contacts__header {
  position: relative;
}

.contacts__list {
  margin: 25px 0 0;
  padding-left: 0;

  list-style: none;

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.contacts__item {
  font-size: 15px;
  line-height: 25px;
}

.contacts__link {
  transition: color 0.3s;

  color: $footer-link-50;

  &:hover,
  &:focus {
    color: $footer-link;
  }

  &:active {
    opacity: 0.6;
  }
}
