.copyright {
  display: flex;

  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-direction: column;
  }
}

.copyright__wrap-desctop {
  display: flex;
  justify-content: space-between;

  max-width: 457px;
  margin-right: 10.06%;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.copyright__item {
  letter-spacing: 0.04em;

  color: $footer-link-50;

  font-size: 13px;
  line-height: 24px;

  &--dev {
    margin-left: auto;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 22px;

    &--dev {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}

.copyright__link {
  transition: color 0.3s;

  color: $footer-link-50;

  &:hover,
  &:focus {
    color: $footer-link;
  }

  &:active {
    opacity: 0.6;
  }
}
