.features {
  padding: 80px 0 30px;

  @media (max-width: $tablet-width) {
    padding: 24px 0 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 37px 0;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;

  @include reset-list;
}

.features__item {
  position: relative;

  width: 48.7%;
  max-width: 570px;
  min-height: 300px;
  margin: 30px 2.56% 0 0;
  padding: 40px 40px 40px 42px;

  cursor: pointer;
  transition: background-color 0.9s;

  border: 1px solid #ebebeb;
  background-color: $white-color;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 3px;

    content: "";

    background-color: $blue-color;
  }

  @media (max-width: $tablet-width) {
    width: 47.91%;
    min-height: auto;
    margin: 30px 4.166% 0 0;
    padding: 25px 21px 20px 25px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }

  & svg {
    margin-bottom: 15px;

    transition: fill 0.9s;

    fill: $blue-color;

    @media (max-width: $tablet-width) {
      width: 32px;
      height: 32px;
      margin-bottom: 6px;
    }
  }

  & h3 {
    margin: 0 0 15px;

    transition: color 0.9s;

    color: $blue-color;

    font-family: $roboto-condensed;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;

    @media (max-width: $tablet-width) {
      margin-bottom: 8px;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
      line-height: 140.62%;
    }
  }

  & p {
    margin: 0;

    transition: color 0.9s;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  &:hover {
    background-color: #00b2ff;

    & svg {
      fill: $white-color;
    }

    & h3 {
      color: $white-color;
    }

    & p {
      color: $white-color;
    }
  }
}
