.feedback {
  padding: 83px 0 103px;

  background: $blue url("../img/form-right-decor.svg") no-repeat right;

  @media (max-width: $tablet-width) {
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 33px 0 11px;
  }
}

.feedback__wrap {
  position: relative;

  display: flex;
  flex-direction: row-reverse;

  &::after {
    position: absolute;
    top: -160px;
    left: -160px;

    width: 686px;
    height: 641px;

    content: "";

    background: url("../img/form-airplane@1px.png") no-repeat top left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-airplane@2px.png");
      background-size: 686px 641px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 88px;

    &::after {
      content: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.feedback__form-wrap {
  width: 48.7%;

  & h2 {
    margin: 0 0 17px;

    color: $white;

    font-family: $roboto-condensed;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;

    @media (max-width: $tablet-width) {
      margin-bottom: 7px;

      font-size: 32px;
      line-height: 140.62%;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 16px;

      font-size: 28px;
    }
  }

  & p {
    margin: 0 0 49px;

    color: $white;


    @media (max-width: $mobile-width) {
      margin-bottom: 24px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
}

.feedback__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 40px;

  &--contact {
    & input[type="text"],
    & input[type="tel"] {
      width: 47.36%;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 0;

      & input[type="text"],
      & input[type="tel"] {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  &--message {
    & textarea {
      height: 154px;
      width: 100%;

      @media (max-width: $tablet-width) {
        height: 160px;
      }

      @media (max-width: $mobile-width) {
        height: 104px;
      }
    }
  }

  &--sumbit {
    & button,
    & label {
      width: 47.36%;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 0;

      & button,
      & label {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
