.feedback {
  padding: 90px 0 75px;

  background: url("../img/form-right-decor.svg") no-repeat left calc(50% + 778px) top 35px,
    url("../img/form-airplane@1px.png") no-repeat right calc(50% + 442px) top -60px / 686px 641px;
  background-color: $blue;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/form-right-decor.svg"),
      url("../img/form-airplane@2px.png");
  }

  @media (max-width: $tablet-width) {
    padding: 80px 0 65px;

    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 42px;
  }
}

.feedback__wrap {
  position: relative;

  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $tablet-width) {
    padding: 0 92px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.feedback__form-wrap {
  width: 48.7%;

  & h2 {
    margin: 0 0 10px;

    color: $white;

    font-family: $roboto-condensed;
    font-size: 36px;
    font-weight: 400;
    line-height: 51px;

    @media (max-width: $tablet-width) {
      margin: 0 0 16px -6px;

      font-size: 32px;
      line-height: 140.62%;
    }

    @media (max-width: $mobile-width) {
      margin: 0 0 13px;

      font-size: 28px;
    }
  }

  & p {
    margin: 0 0 49px;

    color: $white;

    line-height: 22px;

    @media (max-width: $tablet-width) {
      margin-bottom: 56px;
    }


    @media (max-width: $mobile-width) {
      margin-bottom: 24px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
}

.feedback__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 40px;

  &--contact {
    margin-bottom: 42px;

    & input[type="text"],
    & input[type="tel"] {
      width: 47.36%;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 33px;

      & input[type="text"] {
        width: 100%;
        margin-bottom: 33px;
      }

      & input[type="tel"] {
        width: 100%;
      }
    }
  }

  &--message {
    margin-bottom: 43px;

    @media (max-width: $tablet-width) {
      margin-bottom: 46px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 33px;
    }

    & textarea {
      width: 100%;
      height: 154px;

      @media (max-width: $tablet-width) {
        height: 160px;
      }

      @media (max-width: $mobile-width) {
        height: 104px;
      }
    }
  }

  &--sumbit {
    & button,
    & .feedback__consent {
      width: 47.36%;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 0;

      & button {
        width: 100%;
        margin-bottom: 30px;
      }

      & .feedback__consent {
        width: 100%;
      }
    }
  }
}
