.footer {
  flex: 0 0 auto;
}

.footer__wrap {
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1468px;
  margin: 0 auto;
  padding: 65px 25px 58px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 19px 25px 26px;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-direction: column;

    padding: 46px 25px 49px;
  }
}

.footer__logo {
  align-self: baseline;

  margin-bottom: 54px;

  color: #203c42;

  @media (max-width: $tablet-width) {
    align-self: auto;

    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.footer__year {
  display: none;

  margin: 5px 0 0 13px;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  font-size: 13px;
  line-height: 24px;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    margin: 5px 0 32px;
  }
}

.footer__header h2 {
  margin: 0;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1b2d37;

  font-family: $roboto-condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.footer__nav {
  width: 38.173%;

  @media (min-width: 1250px) {
    margin-left: 6.25%;
  }

  @media (max-width: $tablet-width) {
    width: 50%;
    padding: 38px 25px 36px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 28px 15px;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.footer__contacts {
  @media (max-width: $tablet-width) {
    width: 50%;
    padding: 38px 25px 0 16px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 28px 15px;
  }
}

.footer__copyright {
  max-width: 1468px;
  margin: 0 auto;
  padding: 14px 25px;

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 28px;
    padding-bottom: 26px;
  }
}
