.form {
  & input::-ms-clear {
    width: 0;
    height: 0;
  }

  & input[type="text"],
  & input[type="tel"] {
    height: 50px;
    padding-left: 17px;

    border-radius: 0;
  }

  & textarea {
    padding: 13px 18px;

    resize: none;

    border-radius: 0;
  }

  & input[type="text"],
  & input[type="tel"],
  & textarea {
    transition: 0.3s;

    color: $white;
    border: none;
    background-color: $white-10;

    font: inherit;

    &::placeholder {
      color: $white;
    }

    &:focus {
      background-color: $white-30;
    }

    &:hover {
      background-color: $white-50;
    }
  }

  & button {
    padding: 13px 0;

    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $white;
    border: 1px $white solid;
    border-radius: 5px;
    background-color: transparent;

    font-family: $roboto-condensed;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    &:hover,
    &:focus {
      color: $blue;
      background-color: $white;
    }
  }

  & input[type="checkbox"] {
    top: 18px;
    left: 16px;

    &:hover,
    &:focus {
      & + label {
        color: $white;

        &::before {
          background-color: $white-30;
        }
      }
    }

    @media (max-width: $mobile-width) {
      top: 16px;
      left: 10px;
    }
  }

  .form__consent {
    position: relative;
  }

  & input[type="checkbox"] + label {
    min-height: 30px;
    position: relative;
    display: block;

    padding-left: 40px;

    cursor: pointer;

    color: $white-80;

    font-size: 14px;
    line-height: 16px;

    @media (max-width: $tablet-width) {
      padding-left: 44px;
    }

    @media (max-width: $mobile-width) {
      padding-left: 35px;
    }

    &::before {
      position: absolute;
      top: 3px;
      left: 7px;

      width: 16px;
      height: 16px;

      content: "";

      border: 1px solid $white;

      @media (max-width: $tablet-width) {
        top: 3px;
        left: 10px;
      }

      @media (max-width: $mobile-width) {
        top: 1px;
        left: 0;
      }
    }
  }

  & input[type="checkbox"]:checked + label::after {
    position: absolute;
    top: 5px;
    left: 13px;

    width: 6px;
    height: 8px;

    content: "";
    transform: rotate(-135deg);

    border-top: 2px solid $white;
    border-left: 2px solid $white;

    @media (max-width: $tablet-width) {
      top: 5px;
      left: 15px;
    }

    @media (max-width: $mobile-width) {
      top: 3px;
      left: 5px;
    }
  }
}
