.header {
  color: $white;
  background: $bg-header-color url("../img/header-bg-desktop@1x.png") center / cover no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/header-bg-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/header-bg-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-mobile@2x.png");
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;

  max-width: 1464px;
  margin: 0 auto;
  padding: 33px 25px 42px;

  @media (max-width: $tablet-width) {
    padding: 20px 25px 0 22px;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 15px 0 14px;
  }
}

.header__logo {
  margin-right: 24px;

  color: $white;

  & img {
    @media (max-width: $mobile-width) {
      width: 38px;
      height: 38px;
    }
  }
}

.header__contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__contact-link {
  display: flex;
  align-items: center;

  transition: 0.3s;

  color: $white;

  font-size: 16px;
  line-height: 18px;

  & svg {
    transition: 0.3s;

    fill: $blue;
  }

  &--mail {
    margin-right: 88px;

    @media (max-width: $tablet-width) {
      margin-right: 32px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 22px;
    }

    & svg {
      margin-right: 20px;

      @media (max-width: $tablet-width) {
        width: 25px;
        height: 19px;
        margin-right: 0;
      }
    }
  }

  &--phone {
    margin-right: 50px;

    @media (max-width: $tablet-width) {
      margin-right: 0;
    }

    & svg {
      margin-right: 16px;

      @media (max-width: $tablet-width) {
        width: 24px;
        height: 24px;
        margin-right: 0;
      }
    }
  }

  &--btn {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  & span {
    @media (max-width: $tablet-width) {
      @include hide;
    }
  }

  &:hover,
  &:focus {
    color: $blue;

    & svg {
      fill: $white;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.header__contact-btn {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__slider {
  position: relative;

  max-width: 1920px;
  margin: 0 auto;

  background: url("../img/header-decor-desktop.svg") no-repeat;
  background-position: left calc(50% + 386px) top -110px;

  @media (max-width: $tablet-width) {
    padding: 0;

    background-position: right -192px top -160px;
    background-size: 604px 637px;
  }

  @media (max-width: $mobile-width) {
    background-position: left 67px top -112px;
    background-size: 596px 535px;
  }
}

.header__slide {
  padding: 190px 0 90px;

  background: url("../img/circuit-desktop@1x.png") no-repeat;
  background-position: left calc(50% + 465px) top 40px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/circuit-desktop@2x.png");
    background-size: 705px 515px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    padding: 117px 0 0 0;

    background-image: url("../img/circuit-tablet@1x.png");
    background-position: right -205px top 37px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/circuit-tablet@2x.png");
      background-size: 465px 340px;
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/circuit-mobile@1x.png");
    background-position: right -37% top 37px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/circuit-mobile@2x.png");
      background-size: 301px 220px;
    }
  }
}

.header__wrap {
  max-width: 1468px;
  margin: 0 auto;
  padding: 0 25px;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.header__slide-text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;

  max-width: 790px;
  padding-bottom: 185px;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    max-width: 544px;
    padding-bottom: 163px;
    padding-left: 65px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    padding: 114px 0 70px;
  }

  & h2 {
    margin: 0;

    letter-spacing: 0.07em;
    text-transform: uppercase;

    font-family: $roboto-condensed;
    font-size: 80px;
    font-weight: bold;

    @media (max-width: $tablet-width) {
      letter-spacing: 3.8px;

      font-size: 60px;
    }

    @media (max-width: $mobile-width) {
      letter-spacing: 2.8px;

      font-size: 40px;
    }
  }
}

.header__slide-description {
  position: relative;

  margin: 0;
  padding: 28px 0 42px 97px;

  font-size: 22px;
  line-height: 35px;

  @media (max-width: $tablet-width) {
    padding: 30px 0 55px 49px;

    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $mobile-width) {
    padding: 29px 0 40px 52px;

    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    position: absolute;
    top: 45px;
    left: 3px;

    display: inline-block;

    width: 66px;
    height: 2px;

    content: "";
    vertical-align: middle;

    background-color: $white-color;

    @media (max-width: $tablet-width) {
      top: 46px;
      left: 1px;

      width: 33px;
    }

    @media (max-width: $mobile-width) {
      top: 44px;
      left: 4px;
    }
  }
}

.header__consult-btn {
  width: 407px;
  margin-left: 97px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin: 0 auto;
  }
}

.header__btn-text {
  &--desktop {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}

.header__scroll {
  transition: 0.3s;
  position: absolute;
  bottom: 38px;
  left: -35px;

  transform: rotate(270deg);

  color: $light-grey-color;

  font-size: 14px;

  @media (max-width: $tablet-width) {
    @include hide;
  }

  &:hover,
  &:focus {
    opacity: 1;
    color: $white-color;
  }

  &:active {
    opacity: 0.6;
  }
}
