.logo {
  display: flex;
  flex-direction: row;

  min-width: 216px;

  transition: 0.3s;

  @media (max-width: $mobile-width) {
    min-width: 193px;
  }

  &:hover,
  &:focus {
    color: $blue;
  }
}

.logo__text {
  display: flex;
  flex-direction: column;

  padding-left: 16px;

  &--header {
    @media (max-width: $mobile-width) {
      @include hide;
    }
  }
}

.logo__name {
  font-family: $roboto-condensed;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;

  &--footer {
    color: #203c42;

    font-size: 25px;
  }
}

.logo__slogan {
  color: $light-grey-color;

  font-family: $roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 9px;
}

.logo__image {
  &--footer {
    @media (max-width: $mobile-width) {
      width: 52px;
    }
  }
}
