.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;

  display: none;

  max-width: 490px;
  padding: 33px 39px 36px;

  transform: translateX(-50%)  translateY(-50%);

  background-color: $blue;

  & input[type="checkbox"] + label {
    &::before {
      top: -1px;
      left: 0;
    }
  }

  & input[type="checkbox"]:checked + label::after {
    top: 1px;
    left: 5px;
  }

  &--show {
    display: block;
  }

  & h2 {
    margin: 0 0 20px;

    color: $white;

    font-family: $roboto-condensed;
    font-size: 28px;
    font-weight: 400;
    line-height: 140.62%;
  }

  & p {
    margin: 0 0 30px;

    color: $white;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.modal__form {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  & input[type="text"],
  & input[type="tel"] {
    width: 100%;
    margin-bottom: 30px;
  }

  & textarea {
    width: 100%;
    height: 104px;
    margin-bottom: 30px;
  }

  & button {
    width: 100%;
    margin-bottom: 30px;
  }

  & label {
    width: 100%;
  }
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 16px;
  height: 16px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;

    width: 20px;
    height: 1px;

    content: "";
    transition: 0.3s;
    transform: rotate(45deg);

    background-color: $white;
  }

  &::after {
    transform: rotate(135deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}
