.nav__header {
  position: relative;
}

.nav__list {
  max-width: 560px;
  margin: 25px 0 0;
  padding-left: 0;
  justify-content: space-between;

  list-style: none;

  @media (min-width: $desctop-width-only) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.nav__item {
  font-size: 15px;
  line-height: 25px;

  @media (min-width: $desctop-width-only) {
    width: 245px;
    padding-right: 10px;

    &--about {
      order: 1;
    }

    &--products {
      order: 3;
    }

    &--production {
      order: 5;
    }

    &--mounting {
      order: 7;
    }

    &--component {
      order: 2;
    }

    &--delivery {
      order: 4;
    }

    &--contacts {
      order: 6;
    }
  }
}

.nav__link {
  transition: color 0.3s;

  color: $footer-link-50;

  &:hover,
  &:focus {
    color: $footer-link;
  }

  &:active {
    opacity: 0.6;
  }
}
