.nav__header {
  position: relative;
}

.nav__list {
  margin: 25px 0 0;
  padding-left: 0;

  list-style: none;

  @media (min-width: $desctop-width-only) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.nav__item {
  font-size: 15px;
  line-height: 25px;

  @media (min-width: $desctop-width-only) {
    width: 50%;

    &--about {
      order: 1;
    }

    &--products {
      order: 3;
    }

    &--production {
      order: 5;
    }

    &--mounting {
      order: 7;
    }

    &--component {
      order: 2;

      padding-left: 7.5%;
    }

    &--delivery {
      order: 4;

      padding-left: 7.5%;
    }

    &--contacts {
      order: 6;

      padding-left: 7.5%;
    }
  }
}

.nav__link {
  transition: color 0.3s;

  color: $footer-link-50;

  &:hover,
  &:focus {
    color: $footer-link;
  }

  &:active {
    opacity: 0.6;
  }
}
