.nav__header {
  position: relative;
}

.nav__list {
  @include reset-list;

  @media (min-width: $desctop-width-only) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav__item {
  color: rgba(27, 45, 55, 0.5);

  font-size: 15px;
  line-height: 25px;

  @media (min-width: $desctop-width-only) {
    width: 50%;

    &--about {
      order: 1;
    }

    &--products {
      order: 3;
    }

    &--production {
      order: 5;
    }

    &--mounting {
      order: 7;
    }

    &--component {
      order: 2;

      padding-left: 8.5%;
    }

    &--delivery {
      order: 4;

      padding-left: 8.5%;
    }

    &--contacts {
      order: 6;

      padding-left: 8.5%;
    }
  }
}

.nav__link {
  color: inherit;
}
