.social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 112px;

  @include reset-list;
}

.social-links__link {
  svg {
    transition: 0.3s;

    fill: $grey;
  }

  &:hover,
  &:focus {
    svg {
      fill: $blue;
    }
  }
}
