$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 767px;
$tablet-width: 1023px;
$desctop-width-only: 1024px;

$pt-mono: "PT Mono", "Courier", monospace;
$roboto: "Roboto", arial, sans-serif;
$roboto-condensed: "Roboto Condensed", arial, sans-serif;

//colors
//text color
$main-color: #666666;
$blue-color: #00b2ff;
$white-color: #ffffff;
$light-grey-color: #788891;

//bg-color
$bg-header-color: #1b2d37;
$bg-main-color: #e5e5e5;
$bg-footer-color: #fafafa;
$bg-form-color: #00b2ff;
$bg-offer-color: #1b2d37;
