$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 767px;
$tablet-width: 1023px;

$pt-mono: "PT Mono", "Courier", monospace;
$roboto: "Roboto", arial, sans-serif;
$roboto-condensed: "Roboto Condensed", arial, sans-serif;

//colors
//text color
$main-color: #666666;
$blue-color: #1B2D37;
$white-color: #FFFFFF;

//bg-color
$bg-main-color: #E5E5E5;
$bg-footer-color: #FAFAFA;
$bg-form-color: #00B2FF;
$bg-offer-color: #1B2D37;
