$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 767px;
$tablet-width: 1023px;
$desctop-width-only: 1024px;

$pt-mono: "PT Mono", "Courier", monospace;
$roboto: "Roboto", arial, sans-serif;
$roboto-condensed: "Roboto Condensed", arial, sans-serif;

//colors
$white: #ffffff;
$white-10: rgba(255, 255, 255, 0.1);
$white-30: rgba(255, 255, 255, 0.3);
$white-80: rgba(255, 255, 255, 0.8);
$blue: #00b2ff;
$black: #000000;

$footer-link: #1b2d37;
$footer-link-50: rgba(27, 45, 55, 0.5);

$grey: #cdcdcd;

$main-color: #666666;
$blue-color: #00b2ff;
$white-color: #ffffff;
$light-grey-color: #788891;

//bg-color
$bg-header-color: #1b2d37;
$bg-main-color: #fafafa;
$bg-footer-color: #fafafa;
$bg-form-color: #00b2ff;
$bg-offer-color: #1b2d37;
