@import "./base/normalize.scss";
@import "./base/fonts.scss";
@import "./base/variables.scss";
@import "./base/mixins.scss";
@import "./base/scaffolding.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/page-main.scss";
@import "./blocks/features.scss";
@import "./blocks/about-company.scss";
@import "./blocks/service.scss";
@import "./blocks/form.scss";
@import "./blocks/feedback.scss";
//footer
@import "./blocks/footer.scss";
@import "./blocks/social-links.scss";
@import "./blocks/nav.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/accordion.scss";
